@font-face {
  font-family: 'Jost';
  src: url("../assets/fonts/Jost-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@import "tailwindcss";

@theme {
  --font-jost: "Jost", sans-serif;
}

@layer utilities {
  .text-10xl {
    font-size: 18rem;
  }
}